/* CSS DE INICIO DE SESIÓN ---------------------------------------------------------------*/ 
.container {
  max-width: 50px;
  background: #55360e;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
  border-radius: 30px;
  padding: 5px 20px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(242, 241, 237, 0.878) 0px 30px 30px -20px;
  margin: 10px;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: #b59e7d;
}

.form {
  margin-top: 20px;
}

.form .input {
  width: 100%;
  background: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cec1a8 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: rgb(179, 143, 111);
}

.form .input::placeholder {
  color: rgb(179, 143, 111);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #b38f6f;
}

.form .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form .forgot-password a {
  font-size: 11px;
  color: #584738;
  text-decoration: none;
}

.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, #f1eada 0%, #584738 100%);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(22, 22, 2, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  transform: scale(1.03);
  box-shadow: #b59e7d 0px 23px 10px -20px;
}

.form .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.social-account-container {
  margin-top: 25px;
}

.social-account-container .title {
  display: block;
  text-align: center;
  font-size: 10px;
  color: rgb(170, 170, 170);
}

.social-account-container .social-accounts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
  border: 5px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  box-shadow: rgba(179, 143, 111, 0.8784313725) 0px 12px 10px -8px;
  transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
  fill: white;
  margin: auto;
}

.social-account-container .social-accounts .social-button:hover {
  transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
  transform: scale(0.9);
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.agreement a {
  text-decoration: none;
  color: #b38f6f;
  font-size: 9px;
}

/* CSS DE HOME---------------------------------------------------------------------------*/ 
.card {
 width: 300px;
 height: 300px;
 border-radius: 20px;
 background: #f5f5f5;
 position: relative;
 left: 15%;
 top: 100%;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.card-details {
 color: black;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.card-button {
 transform: translate(-50%, 125%);
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #391d01;
 color: #391d01;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
}

.text-body {
 color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
 font-size: 1.5em;
 font-weight: bold;
}

/*Hover*/
.card:hover {
 border-color: #aaa396;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}

.tarjetas{
  align-items: center;
  text-align: center;
  top: 20%;
  left: 100%;
  display:flex;
  gap: 30px;
}

/* CSS DE SUCURSALES---------------------------------------------------------------------------*/ 
/*************/
/* Variables */
/*************/

.map-container {
  --city-radius: 2rem;
  --city-sign-color-back: #00c080;
  --city-sign-color-font: #fff;
  --city-pin-size-font: 1.2rem;
}

/**********/
/* Styles */
/**********/

/* Container */
.map-container {
  border-radius: 0.5em;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  line-height: 1;
  min-width: 15rem;
  position: relative;
  align-items: center;
  justify-self: center;
  width: 50%;
  aspect-ratio: 1;
}

/* Map - Background */
.map-background {
  border-radius: inherit;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Map - Cities */
.map-cities {
  width: 100%;
}
.map-city {
  border-radius: var(--city-radius);
  left: calc(var(--x) * 1% - var(--city-radius));
  padding: var(--city-radius);
  position: absolute;
  top: calc(var(--y) * 1% - var(--city-radius));
}
.map-city::after,
.map-city::before {
  font-size: var(--city-pin-size-font);
}
.map-city::before {
  content: "•";
  left: calc(-50% + var(--city-radius));
  position: absolute;
  top: calc(-0.65em + var(--city-radius));
  text-align: center;
  text-shadow: 0 1px 1px #000;
  width: 100%;
}
.map-city::after {
  clip-path: inset(-0.5em 0 0 0);
  content: "📍";
  left: calc(-50% + var(--city-radius));
  position: absolute;
  top: calc(-1em + var(--city-radius));
  text-align: center;
  transition: all 300ms ease-out;
  width: 100%;
  z-index: var(--y);
}

/* Map - Sign */
.map-city__label {
  display: none;
  left: calc(-5em + 50%);
  position: absolute;
  text-align: center;
  width: 10em;
  z-index: 999;
}
.map-city__sign {
  align-items: center;
  background-color: var(--city-sign-color-back);
  border-radius: 0.2rem;
  border: 0.15em solid var(--city-sign-color-font);
  box-shadow: 0 0 3px #000;
  color: var(--city-sign-color-font);
  column-gap: 0.3em;
  display: flex;
  font-weight: 700;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  padding: 0.4em 0.6em 0.4em 0.3em;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  width: max-content;
}
.map-city__sign::before {
  content: attr(data-icon);
}

/************/
/* Tracking */
/************/

/* Map - Cities */
.map-city:hover::after {
  clip-path: inset(-0.5em 0 0.5em 0);
  transform: translateY(0.5em);
}

/* Map - Sign */
.map-city:hover .map-city__label {
  animation: fadein 300ms forwards ease-out;
  display: block;
}

.map-city:hover .map-city__sign.anim::before {
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.map-city:hover .map-city__sign.anim-grow::before {
  animation-name: grow;
  animation-timing-function: ease-in;
}
.map-city:hover .map-city__sign.anim-slidein::before {
  animation-name: slidein;
  animation-timing-function: ease-out;
}

/**************/
/* Animations */
/**************/

/* Fade in from top */
@keyframes fadein {
  0% {
    opacity: 0;
    top: calc(var(--city-radius));
  }

  100% {
    opacity: 1;
    top: calc(var(--city-radius) + var(--city-pin-size-font) / 2);
  }
}

/* Grow from the ground */
@keyframes grow {
  0% {
    transform: translate(0, 200%);
  }

  10% {
    transform: translate(5%, 180%);
  }

  20% {
    transform: translate(-10%, 160%);
  }

  30% {
    transform: translate(15%, 140%);
  }

  40% {
    transform: translate(-5%, 120%);
  }

  50% {
    transform: translate(10%, 100%);
  }

  60% {
    transform: translate(-15%, 80%);
  }

  70% {
    transform: translate(5%, 60%);
  }

  80% {
    transform: translate(0, 40%);
  }

  90% {
    transform: translate(0, 20%);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* Slide in from left */
@keyframes slidein {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}

/* CSS DE NOSOTROS---------------------------------------------------------------------------*/ 
